<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-client-configuration-heading">Create or edit a Client Configuration</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_clientId">Client Id</label>
                    <input type="number" class="form-control" name="clientId" id="field_clientId"
                           formControlName="clientId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_attachment">Attachment</label>
                    <input type="text" class="form-control" name="attachment" id="field_attachment"
                           formControlName="attachment"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_preTableNotificationTemplate">Pre Table Notification Template</label>
                    <input type="text" class="form-control" name="preTableNotificationTemplate" id="field_preTableNotificationTemplate"
                           formControlName="preTableNotificationTemplate"/>
                    <div *ngIf="editForm.get('preTableNotificationTemplate').invalid && (editForm.get('preTableNotificationTemplate').dirty || editForm.get('preTableNotificationTemplate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('preTableNotificationTemplate').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_postTableTemplate">Post Table Template</label>
                    <input type="text" class="form-control" name="postTableTemplate" id="field_postTableTemplate"
                           formControlName="postTableTemplate"/>
                    <div *ngIf="editForm.get('postTableTemplate').invalid && (editForm.get('postTableTemplate').dirty || editForm.get('postTableTemplate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('postTableTemplate').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
